[Unit]
Description=Mpradio bluetooth setup
After=bluetooth.target

[Service]
User=root
Group=root
Type=oneshot
RemainAfterExit=true
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash -l -c '/usr/local/bin/mpradio-bt-setup.sh'
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group

[Install]
WantedBy=multi-user.target
