[Unit]
Description=Morrolinux Pirate Radio
After=network.target auditd.service

[Service]
Type=idle
User=pi
Group=pi
EnvironmentFile=/home/pi/.profile
ExecStart=/bin/bash -l -c 'sudo chrt -f 99 /home/pi/mpradio.py'
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group

[Install]
WantedBy=multi-user.target
