[Unit]
Description=rw overlay over readonly fs using tmpfs
After=network.target auditd.service
Before=mpradio.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rw-overlay.sh
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group

[Install]
WantedBy=multi-user.target

