[Unit]
Description=simple-agent pairing
After=bluetooth.target mpradio-bt-setup.service

[Service]
User=root
Group=root
ExecStart=/bin/bash -l -c '/usr/local/bin/simple-agent'
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group

[Install]
WantedBy=multi-user.target
